/* universal selector */
* {
  color: red;
}

/* id selector with # */
#heading {
  font-size: 40px;
  text-transform: uppercase;
  color: blue;
}

/* class selector with . */
.heading {
  font-size: 20px;
  text-transform: capitalize;
  color: green;
}

/* simple element selector */
p {
  letter-spacing: 5px;
}
