/* DIV and SPAN - used for grouping */
/* DIV - used to group multiple elements */
/* SPAN - used to group inline content */

/* class selectors */
.green {
  color: teal;
}

.red {
  color: darkred;
  background: lightgoldenrodyellow;
}

span {
  text-transform: uppercase;
}

.text {
  background: white;
  color: blue;
}
/* CSS RULE */
/* selector */
/* declaration block */
/* declaration */
/* property */
/* value */
